/* CSS reset */
body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('people-2604149_1920.jpg') no-repeat;    
    height: 100vh;
    /* width: 2000px; */
    font-family: 'Baloo Bhai 2', cursive;
}
.left{
    position: absolute;
    top: -108px;
    left: 28px;
    /* border:double; */
    /* border: 2px double wheat; */
    display: inline-block;
    margin:121px auto;
}
.left img{
    width: 112px;
    /* filter: invert(100%); */
    /* will change the color of img */
}
.left div{
    color:tomato;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.mid{
    display: block;
    width: 50%;
    margin: 12px auto;
    /* border: 2px solid olivedrab; */

}
.navbar{
    
    display: inline-block;  
}
.navbar li{
    
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 30px 25px;
}
.navbar li a:hover, .navbar li a:active{
    color:indianred;
    text-decoration:underline;
    
}
.right{
    position: absolute;
    top: 0px;
    right: 28px;
    /* border: 2px solid red;  */
    display: inline-block; 
    margin:12px auto;
}
.btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 0px 9px;
    border: 2px solid grey;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover{
    color: tomato;
    text-decoration:underline;
}
.container{
    border: 2px solid whitesmoke;
    margin: 115px 20px;
    padding: 11px 28px;
    width: 43%;
    border-radius: 23px;
    display: block;
}
.form-group input{
    text-align: center;
    display: block;
    width:292px;
    padding: 12px;
    border: 2px solid black;
    margin: 7px auto;
    border-radius: 12px;
    /* background-color: rgb(192, 192, 156); */
    background-color: wheat;
    /* font-family: 'Baloo Bhai 2', cursive; */
}
h1{
    font-size: 2em;
    margin: 2px 2px;
    text-align: center;
}
.submit{
    margin: 0px 9px;
    color: white;
    /* background-color: black; */
    padding: 0px 190px;
    /* border: 2px solid grey; */
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}
